.profile {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding: 80px;
    color:white;
  }
  .profile__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .profile div {
    margin-top: 7px;
  }
  body {
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  a:visited {
    color: lightblue;
  }