.register {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    color: white;
  }
  .register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .register__google {
    background-color: #4285f4;
  }
  .register div {
    color: white;
  }
  .phoneInput__btn__Reg {
    margin-bottom: 10px;
  }
  .resetRegisterLink {
    color: white;
  }
  