#map {
  height: 150px;
  width: 150px;
}

.photoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.starContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  padding-left: 40px;

}

.star {
  padding-bottom: 4px;
}

.rating {
  padding: .5em;
}

.mapContainer {
  display: flex;
  flex-direction: row-reverse
}

.tripContainer {
  display: flex;
  flex-direction: column;
}

/* .containerToDo{
  opacity: .95;
  background: rgb(99, 99, 99);
  padding:1px;
  margin-left: 4px;
  margin-bottom: 10px;
  border-radius: 5px;
} */
.todo-list {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
  max-height: 89vh;
  width: 35%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.places-list {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  order: 3;
  flex-direction: column;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
  max-height: 89vh;
  width: 35%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Remove_Button {
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 4px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.todo-list-splitters {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.places-list-opacity:hover {
  opacity: 0.9;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.todo-list-opacity:hover {
  opacity: 0.9;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.todo-list-photos {
  width: 150px;
  height: 80px;
  object-fit: cover;
}

.todo-list-margin {
  margin-right: 10px;
}

.todo-info-modal {
  text-align: center;
}

.todo-star-modal {
  justify-content: center
}

.add-to-trip-button {
  padding: 3px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.add-your-place-button {
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.img-window {
  height: 200px;
  width: 200px;
}

.travel-mode {
  justify-content: center;
}

.choice-modal-buttons {
  justify-content: center;
  margin-top: 15px;
}

.choice-modal-exit {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3px;
  margin-top: 3px;
}

.remove-button-position {
  text-align: right;
}

.todo-form-label {
  color: black;
}

.todo-form-input {
  border-style: solid;
  border-color: lightgray;
}

.todo-form-location-button {
  border-width: 1px;
  border-style: solid;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 8px;
  background-color: lightgray;
}

.todo-form-submit-button {
  margin-top: 35px;
}

.modal-and-map-photos {
  width: auto;
  height: 26vh;
  border-radius: 5px;
}