#map {
    height:150px;
    width:150px;
  }

  .photoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .starContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    padding-left: 40px;
    
  }

  .star {
    padding-bottom: 4px;
  }

  .rating {
    padding: .5em;
  }

  .mapContainer {
    display: flex;
    flex-direction: row-reverse
  }

  .tripContainer {
    display: flex;
    flex-direction: column;
  }
  .todo-list {
   color:white;
   font-size: 20px;
    background: rgb(86, 86, 86);
    display: flex;
    order:1;
    flex-direction: column;
  }
  .Remove_Button{
    background-color: red;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }