:root {
    --primary: #fff;

}

.btn {
    padding: 12px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 5%;
    font-size: 16px;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 5px;
    margin-left:10px;
}
.btn--primaryRED {
    background-color: red;
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
}
.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    margin-left: 10px;
    border-radius:5px;
}
.btn--outlineSmall {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 3px 6px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    border-radius:5px;
    float: right;
}

btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

btn--medium:hover,
btn--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.5s ease-out;
}