.SearchBar{
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align:center;
    opacity: 0.95;
}
input{
    text-align:center;
    border-radius: 5px;
    width: 60%;
    height: 60%;
}