.combobox-input {
    width: 75%;
    margin-top: 50px;
    padding: 0.7rem;
    border-style: solid;
    border-color: #9A9A9A;
}

.switch-rounded-bottom {
    margin-top: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    background: white;
}