body {
    background-image: url("../../images/background.jpg");
    background-size:cover;
    background-color: black;
    background-repeat: no-repeat;
  }
.homescreen_logo{
    height: 180px;
    width: 450px;
}