.overlayBox {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
}

.overLayTitle {
    color: white;
}