body {
    background-image: url('./images/sunset.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.node-choices-font {
    font-size: 25px;
}

.arrow-icon-font {
    font-size: 30px;
}