.titles {
  text-decoration: underline;
  text-align: center;
  color: white;
}

.trip-description-background {
  background: rgba(0, 0, 0, 0.7);
  margin: 1rem;
  color: white;
  text-align: center;
  padding: 10px;
}

.trip-team-background {
  background: rgba(0, 0, 0, 0.7);
  margin: 1rem;
  padding: 10px;
}

.team-member-col {
  background-color: #ECECEC;
  margin: 1rem;
}

.sims {
  width: 90%;
  height: auto;
  clip-path: circle();
  margin: 20px;
}

.center-sims {
  justify-content: center;
}

.header-sims {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.splitters-border {
  border: 2px solid rgba(128, 128, 128, 0.547);
}

.splitters-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.team-member-skills-title {
  background-color: rgba(255, 255, 255, 0.832);
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.team-member-skills-description {
  margin-top: 10px;
  margin-bottom: 6px;
}

.two-roles {
  margin-bottom: 56px;
}